
p
    margin: 0
    padding: 0

//buttons
.imageButton
    width: 30px
    height: 30px
    margin-left: 10px
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    transition: all 0.5s

    &:hover

        img
            transform: scale(1.2)

.textImageButton
    width: auto
    height: 30px
    margin: 0 10px
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    transition: all 0.5s

    div
        width: 100%
        display: flex

    &:hover
        transform: scale(1.2)

//other elements
.pathElement
    display: flex
    flex-direction: row
    margin-right: 20px
    cursor: pointer

    b
        padding-right: 5px
    
    p
        font-size: 12s

        &.selected
            font-weight: 500

//file explorer
.file-explorer-component
    display: flex
    flex-direction: column
    width: 100vw
    height: 100vh


    .explorer-nav
        height: 50px
        width: 100vw
        padding: 0 40px
        background-color: #F5F5F5
        border-bottom: 1px solid #aaaaaa
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        @media screen and (max-width: 450px)
            padding: 0 10px

        .path-container
            display: flex
            flex-direction: row

            .small-menu
                display: none

                button
                    background-color: transparent
                    border: none 

            .normal-menu
                display: flex
                flex-direction: row

            @media screen and (max-width: 1200px)
                .small-menu
                    display: flex

                .normal-menu
                    display: none

        .icons-container
            display: flex
            flex-direction: row

            .file-buttons
                display: flex
                flex-direction: row
                margin-left: 10px
                border-left: 1px solid #aaaaaa 



    .explorer-container
        width: 100vw
        height: auto


        .view-type-list
            width: 100%
            min-width: 500px
            height: auto
            display: flex
            flex-direction: column

            .file-type-list
                display: flex
                width: 100%
                cursor: pointer
                border-bottom: 1px solid #aaaaaa
                justify-content: flex-start
                align-items: center
                padding: 10px 10px

                &.header
                    cursor: auto 

                .file-name
                    width: 60%

                .file-date
                    width: 40%

                img
                    padding-right: 10px

                &.selected
                    background-color: #E8F0FE
                

        .view-type-grid
            width: 100%
            min-width: 300px
            height: auto
            display: flex
            flex-direction: row
            flex-wrap: wrap
            padding: 10px

            .file-type-grid
                display: flex
                width: 250px
                padding: 20px 10px
                margin: 10px
                border: 1px solid #aaaaaa
                border-radius: 10px
                flex-direction: row
                justify-content: flex-start
                align-items: center
                cursor: pointer

                @media screen and (max-width: 450px)
                    width: 100%

                img
                    padding-right: 10px
                    
                &.selected
                    background-color: #E8F0FE

    .pagination-container
        height: 50px
        width: 100vw
        padding: 0 40px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        @media screen and (max-width: 450px)
            padding: 0 10px

        .previous-button
            display: flex
            width: 50%
            align-items: center
            justify-content: flex-end

        .next-button
            display: flex
            width: 50%
            align-items: center
            justify-content: flex-start
            
